<!DOCTYPE html>

<html>


<head>
    <title> About </title> 
    <link rel='stylesheet', href='./css/styles.css'>
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p> This page was created by Lauren Jarrett. It uses data from MapBox and DarkSky.
    </div>
    {{>footer}}
</body>


</html>